.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
h1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
  font-family: Frank Ruhl Libre, Helvetica, Arial, sans-serif !important;
}
p {
  font-size: 100%;
}
embed,
img,
object {
  max-width: 100%;
  height: auto;
}
.topnav {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
}
.topnav a.logo {
  float: left;
  max-width: 100%;
  height: auto;
}
.topnav a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  border-bottom: 1px solid;
  color: #000;
}
.topnav .icon {
  display: none;
}
.bodyContainer {
  display: block;
  width: 100%;
  background: #ece5e5 !important;
}
.article {
  padding: 40px 0;
}
.blog-post {
  background: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
}
.blog-post .featured-img{
  width: 100%;
}
.blog-post p {
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 19px;
}
.category {
  font-weight: 600;
  font-style: italic;
  color: #f1592a;
  font-size: 18px;
}
.glance-logo {
  width: 80px;
  margin-bottom: 10px;
}
.post-footer img {
  width: 100px;
  margin: -5px 10px;
}
.next-art {
  background-color: transparent !important;
  border-bottom: 1px solid #edecee;
  padding: 0 !important;
  margin-top: -15px !important;
  font-size: 20px;
  margin: 10px;
}
.next-art::before {
  content: "";
  position: relative;
  left: 16%;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 18px solid #edecee;
  clear: both;
}
.ad-placement {
  width: 33%;
  margin: -26px auto 20px;
}
.footer {
  background: #000;
  overflow: hidden;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.applybtn2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: 0 0;
  z-index: 999;
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 60px;
  padding-top: 10px;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .blog-post {
    width: 90%;
  }
  .ad-placement {
    width: 90%;
    margin: 0 auto 20px;
  }
}
